@font-face {
  font-family: 'Rockfell';
  src:  url('../fonts/Rockwell-Regular.woff2') format('woff2'),
        url('../fonts/Rockwell-Regular.woff') format('woff');
}

@keyframes rainbow {
0% {color: #ED3636;}
10% {color: #CC6600;}
20% {color: #CCCC00;}
30% {color: #66CC00;}
40% {color: #00CC00;}
50% {color: #00CC66;}
60% {color: #00CCCC;}
70% {color: #0066CC;}
80% {color: #0000CC;}
90% {color: #6600CC;}
100% {color: #CC0066;}
}

@keyframes start {
0% {color: #000000;}
100% {color: #ED3636;}
}

a{
  color: #008CFF;
}

body{
  background-color: #24292e;
}

.nav-cont{
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #24292e;
  transition: height .1s ease;
}
.nav-bar{
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  animation: .3s cubic-bezier(.01,0,.1,1) 0s 1 displayNavLogo;
}

@media (min-width: 700px) {
  .nav-bar{
    width: 80%; }
}

.nav-bar > a > img{
  height: 80px;
  width: 80px;
  top: 0px;
  transition: top .1s ease;
  margin: 0px auto;
}

.nav-scrolled > .nav-bar > a > img{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > a > img{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-bar > a > img:active{
  transition: transform 0.1s;
  transform: scale(0.9);
}

.name-plate {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: calc(50% - 250px);
  color: black;
  font-family: 'Rockfell', sans-serif;
  font-size: 40px;
  width: 500px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0px auto;
  margin-top: 7px;
  transition: top .1s ease;
  transition: color 1s ease;
  /* background: url('../images/text_backsplash.png') no-repeat;
  background-size: 500px 500px;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
}
.name-plate:hover{
/* -webkit-animation:rainbow 5s infinite;
-ms-animation:rainbow 5s infinite;
-o-animation:rainbow 5s infinite;
animation:rainbow 5s infinite 1s;
animation:start 1s; */
animation-delay: 0s, 1.5s;
animation-duration: 1.5s, 2s;
animation-name: start, rainbow;
animation-iteration-count: 1, infinite;
}

@media (min-width: 1200px) {
  .name-plate {
    display: block;
  }
}

.nav-scrolled > .nav-bar > .name-plate{
  position: absolute;
  top: -10px;
  transition: top .1s ease;
}

/* animate the nav logo */
@keyframes displayNavLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-scrolled{
  height: 60px;
}

.nav-link-cont{
  float: right;
  margin-top: 18px;
  margin-right: 8px;
}

.nav-link-cont>a{
  float: right;
}

.nav-scrolled > .nav-bar > a{
  position: relative;
  height: 60px;
  transition: height .1s ease;
}

.nav-unscrolled > .nav-bar > a{
  position: relative;
  height: 80px;
  transition: height .1s ease;
}

.nav-scrolled > .nav-bar > .nav-link-cont{
  position: relative;
  top: -10px;
  transition: top .1s ease;
}

.nav-unscrolled > .nav-bar > .nav-link-cont{
  position: relative;
  top: 0px;
  transition: top .1s ease;
}

.nav-link{
  position: relative;
  margin-left: 5px;
  top: 0px;
  padding: 5px 10px;
  border-radius: 5px;
  float: right;
  color: #ED3636;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1);
  transition-property: top, filter, transform;
}
.nav-link:hover{
  top: -10px;
  transition: 0.2s;
  transition-property: top, filter;
  padding: 5px 10px 0px 10px;
}

.nav-link:active{
  transition: transform 0.1s;
  transform: scale(0.9);
}

.nav-link:focus{
  transition: transform 0.1s;
  transform: scale(1.1);
}

.nav-starred{
  background-color: #ED3636;
  border-radius: 4px;
  color: #24292e;
}

.nav-link:hover:after{
  content: attr(url);
  text-align: center;
  font-size: 12px;
  display: block;
  position: relative;
  width: 100%;
  margin-left: -10px;
  padding: 4px 10px 1px 10px;
  border-radius: 0px 0px 5px 5px;
  height: 20px;
  color: #ED3636;
  background-color: #373C41;
}

.nav-link.nav-starred:hover:after{
  color: #24292e;
  background-color: #C22D2D;
}

.hero-cont{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #386f8a;
  overflow-y: hidden;
}
.hero-box{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  box-sizing: border-box;
}

.hero-box > img:first-child{
  position: absolute;
  left: 0px;
  height: 100vw;
  max-height: 400px;
  top: calc(-1 * ( 50vw - 50vh ));
  margin: 0 auto;
  display: block;
  /* animation: .3s cubic-bezier(.01,0,.1,1) 0s 1 scaleDownheroLogo; */
}
/*THESE TWO ARE TIED TOGETHER ^ v */
@media (min-width: 401px) {
  .hero-box > img:first-child{
    left: calc(50vw - 200px);
    top: calc(50vh - 200px);
  }
}

@media (min-width: 700px) {
  .hero-box{
    width: 80%; }
}

/* animate the hero logo */
@keyframes scaleDownheroLogo {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.showcase-cont{
  height: 400px;
  width: 100%;
  display: block;
  display: block;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.showcase-cont::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

#showcase-cont{
  display: block;
  height: 400px;
}

.showcase-slider{
  height: inherit;
  position: relative;
  width: 100%;
  display: block;
  background-color: white;
  transition: left 1s;
  overflow: hidden;
}

.showcase-item{
  display: inline-block;
  height: inherit;
  width: 400px;
  background-color: white;
  display: block;
  float: left;
  background-position: center;
  background-size: cover;
  transition: transform 1s;
  transition: box-shadow 0.2s;
}

.showcase-item>div:last-child{
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 15px;
}

.showcase-item>div:first-child{
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 25px;
}

.showcase-item:hover{
  transform: scale(1.1);
  box-shadow: black 0px 0px 40px -10px;
}

/* body below */

.container-background{
  width: 100vw;
  background-color: white;
}

.container{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  padding: 100px 20px 50px 20px;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 17px;
}

.cont-alt{
  border-radius: 40px 40px 0px 0px;
  background-color: #EFF2F4;
}

.footer-cont{
  position: relative;
  width: 100%;
  height: 47px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F2F4F6;
  overflow-x: hidden;
}

.footer-bar{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  .footer-bar{
    width: 80%; }
}

/* Styling for images or img's that are located inplace of a column */

.column.fill-center-img,
.columns.fill-center-img,
.column.fill-top-img,
.columns.fill-top-img,
.column.fit-center-img,
.columns.fit-center-img{
  background-repeat: no-repeat;
  position: relative;
  display: block;
  overflow: hidden;
}

.column.fill-center-img,
.columns.fill-center-img{
  background-position: center;
  background-size: cover;
}

.column.full-top-img,
.columns.full-top-img{
  background-position: center;
  background-size: cover;
}

.column.fit-center-img,
.columns.fit-center-img{
  background-position: center;
  background-size: contain;
}

div[onload-rise]{
  transition: all 0.5s;
  transition-property: transform, opacity;
}

div[spacer] {
  float: left;
  margin: 40px 0px 120px 0px;
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}

anchor {
  cursor: pointer;
  position: relative;
  display: block;
  height: 0px;
  width: 100px;
  top: -100px;
}
#copytextarea{
  max-height:0px;
  position: absolute;
  top:0;
  z-index: -10000;
  overflow: hidden;
}

/* anchor::before {
  content: "<div>test</div>";
  display: block;
  position: relative;
  top: 102px;
  right: 100px;
  padding-top: 13px;
  height: 37px;
  width: 50px;
  background-color: red;
}

anchor:hover::before {
  vertical-align: middle;
  content: "#" attr(id);
  display: inline-block;
  position: relative;
  padding-top: 13px;
  right: 100px;
  height: 37px;
  width: auto;
  background-color: red;
} */

anchor > div {
  display: block;
  position: relative;
  top: 93px;
  right: 230px;
  padding-top: 13px;
  height: 37px;
  overflow: hidden;
  width: 200px;
}

anchor > div > div {
  display: block;
  position: absolute;
  top: 50px;
  right: 0px;
  padding-top: 13px;
  height: 37px;
  transition: all .2s;
  text-align: right;
}

anchor > div > div:hover {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 13px;
  height: 37px;
  width: auto;
}
anchor > div > div::before {
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  right: 0px;
  padding-top: 13px;
  padding-left: 13px;
  height: 37px;
  width: 50px;
  transition: all .2s;
  background-image: url("../images/anchor.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: right;
}
anchor > div > div:hover::before {
  display: block;
  position: absolute;
  top: -50px;
}
anchor > div > div:hover i {
  position: absolute;
  left: -90px;
  top: 12px;
  padding-right: 2px;
  width: 60px;
  background-color: #24292e;
  color: white;
  display: block;
}
anchor > div > div > i {
  display: none;
}

.product-panel{
  height: 200px;
  border-radius: 10px;
  background-color: black;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: transparent;
  font-family: 'Hind Siliguri', sans-serif;
  text-shadow: 0px 0px 4px transparent;
  font-size: 30px;
  padding-top: 75px;
  -webkit-transition: all 50ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 50ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 50ms ease-in;
  -moz-transform: scale(1);
  transition: all 50ms ease-in;
}
.product-panel:hover{
  color: white;
  text-shadow: 0px 0px 4px black;
  -webkit-transition: all 50ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 50ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 50ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 50ms ease-in;
  transform: scale(1.1);
  transition: color 250ms ease-in, text-shadow 250ms ease-in;
  cursor: pointer;
}

.case-panel{
  height:400px;
  position: relative;
}
.case-panel > img{
  position: absolute;
  width:100%;
  background-size: contain;
  background-position: center;
}
.case-dropdown{
  margin: 0px;
}
.case-dropdown > select{
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 4px;
  border-right: 40px solid #ED3636;

  -webkit-transition: all 50ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 50ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 50ms ease-in;
  -moz-transform: scale(1);
  transition: all 50ms ease-in;
}
.case-dropdown > select:hover{
  -webkit-transition: all 50ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 50ms ease-in;
  -ms-transform: scale(1.05);
  -moz-transition: all 50ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 50ms ease-in;
  transform: scale(1.05);
  cursor: pointer;
}
